  <p>Rewards</p>
  <div>
    <%= f.label "amount" %>
    <%= f.number_field :amount %>
  <div>

  <%= f.fields_for :rewards do |r| %>
    <%= render 'reward_fields', :f => r %>
  <% end %>
  </div>

  <div>
    <%= link_to_add_association 'add reward', f, :rewards %>
  </div>