<h1><%= @project.name %></h1> 
	
<p> <%= image_tag @project.photo %> </p>
<div><%= @project.funding_goal %></div> 
<div><%= @project.description %></div> 





  <% @project.rewards.each do |reward| %>
  	<div><p><%= reward.amount %></p>
  	<p><%= reward.description %></p></div>
  <% end %>
