<!DOCTYPE html>
<html>
<head>
  <title>Startkicker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

  <%= csrf_meta_tags %>
</head>
<body>

    <p class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.first_name %>. <%= link_to "Log out", user_session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_path %>
      <% end %>
    </p>


<%= yield %>



</body>
</html>
